* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Titillium Web', sans-serif;
    outline:none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root{
    --scarlet:#FF2400;
    --black:#000;
    --orange:#ff9d2c;
}

html {
    font-size:1em;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--black);
}

section{
    padding:2rem 3em;
}
.btn{
    display:inline-block;
    margin-left:2em;
    margin-top:1em;
    padding:1rem 3rem;
    font-size: 1.5rem;
    color:#fff;
    cursor:pointer;
    background:var(--scarlet);
}

.header{
    background:black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1.2rem 9%;
    background: var(--black);
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
    border-bottom: 0.1em solid #fff;
}

.header .logo img {
    height:6em;
}

.header .navbar a{
    margin:0 1rem;
    font-size:2rem;
    color:#fff;
}

.header .navbar a:hover{
    border-bottom: .1rem solid var(--scarlet);
}

.header .icons div{
    color:#fff;
    cursor:pointer;
    font-size:2rem;
    margin-left:1.5rem;
}

.header .icons div:hover{
    color:var(--scarlet);
}

#menu-btn{
    display:none;
}

.home .content #second{
    font-style: italic;
}

.header .search-box{
    position:absolute;
    top:100%; 
    right:8%;
    background:#fff;
    width:30rem;
    height:2.5rem;
    display:flex;
    align-items: center;
    transform:scaleY(0);
    transform-origin:top;
}

.header .search-box.active{
    transform:scaleY(1);
    margin-top:0.6em;
    height:3em;
}

.header .search-box input {
    height:100%;
    width:100%;
    font-size:1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-box label{
    cursor:pointer;
    font-size:1.6rem;
    margin-right:1.2rem;
    color:var(--black);
}

.header .search-box label:hover{
    color:var(--scarlet);
}

.home{
    min-height:100vh;
    display:flex;
    align-items:center;
    background: url(../images/background.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width:60rem;
}

.home .content h3{
    padding-left: 1em;
    font-size:5rem;
    color:#fff;
    text-transform: uppercase;
}
.home .content p{
    padding-left:2em;
    font-size:1.5rem;
    color:#fff;
    font-weight:lighter;
}

.home .content a{
    padding-left:2em;
    color:#fff;
    font-weight:lighter;
    
}

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--scarlet);
    text-transform: uppercase;
}

.about .row{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    background-color: var(--orange);
}

.about .row .image{
    flex:1 1;
}

.about .row .image img{
    width:100%;
}

.about .row .content{
    flex:1 1;
    padding:2rem;
    color:#fff;
}
.about .row .content h3{
    font-size:4rem;
}
.about .row .content p{
    font-size:2rem;
    padding:1rem 0;
    line-height: 1.8;
}

.products .box-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(30rem,1fr));
    gap:1.5rem;
}

.products .box-container .box{
    text-align: center;
    padding:2rem;
    border: solid 1px var(--scarlet);
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size:2rem;
    color:#fff;
    margin:.3rem;
}

.products .box-container .box .icons a:hover{
    color:var(--scarlet);
}

.products .box-container .box .image{
    padding:2.5rem 0;
}

.products .box-container .box .image img{
    height:25rem;
}

.products .box-container .box .content h3{
    color:var(--orange);
    font-size:2.5rem;
}

.products .box-container .box .content .stars{
    padding:1.5rem;
}

.products .box-container .box .content .stars i{
    font-size:1.7rem;
    color:#fff;
}

.products .box-container .box .content .price{
    color:#fff;
    font-size:2.5rem;
}

.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-size:2rem;
}


.contact .row{
    display:flex;
    background: var(--orange);
    flex-wrap:wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 50rem;
    width:100%;
    height: 50em;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 40rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display:flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #fff;
}

.contact .row form .inputBox span{
    color:var(--scarlet);
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width:100%;
    padding:2rem;
    font-size:1.7rem;
    color: var(--black);
    text-transform: none;
    background: none;
}

.footer{
    background: var(--black);
    text-align: center;
}

.footer .social{
    padding:1rem 0;
}

.footer .social a{
    height:5rem;
    width: 5rem;
    line-height:5rem;
    font-size: 2.1rem;
    color:#fff;
    border:var(--orange);
    margin:.3rem;
    border-radius: 50%;
}

.footer .social a:hover{
    background-color:var(--scarlet);
}

.footer .links{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.8rem 2rem;
    color:#fff;
    border: var(--orange);
    font-size:2.1rem;
}

.footer .links a:hover{
    background-color: var(--scarlet);
}

.footer .cagla{
    font-size:2.5rem;
    color:#fff;
    font-weight: lighter;
    padding:1.7rem;
}

.footer .cagla span{
    color:var(--scarlet);
}

/* Media Queries */

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section {
        padding:2rem;
    }
}

@media (max-width:768px) {
    #menu-btn{
        display:inline-block;
    }
    .header .navbar{
        position:absolute;
        top:100%;
        right:-100%;
        background:rgb(204, 204, 204);
        width:30rem;
        height:calc(55vh - 7rem);
    }

    .header .navbar.active {
        right:0;
        margin-top:0.6em;
    }
    .header .navbar a{
        color:var(--black);
        display:block;
        margin:1.2rem;
        padding:3rem;
        font-size:2rem;
        border-bottom: 1px var(--black) solid;
    }
    .header .search-box{
        width:90%;
        right:2rem;
    }
    .header .search-box.active{
        margin-top:0.6em;
        height:4em;
        width:50%;
    }
    .home{
        background-position: left;
        justify-content: center;
    }
    .home .content p{
        font-size: 2rem;
    }
    .btn{
        margin-left:2em;
        padding:2rem 5rem;
        font-size: 2.5rem;
    }
    .about .row{
        flex-direction: column;
    }
}

@media (max-width:450px) {
    html{
        font-size:50%;
    }
    .header .navbar{
        height:calc(47vh - 7rem);
    }
    .about .row{
        flex-direction: column;
    }
    .about .content .btn {
        margin-left:0;
    }
}